<% if flash[:alert] %>
  <div class="alert alert-<%= flash[:alert_type]%>" role="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%=flash[:alert]%>
  </div>
<% end %>
<br><br>
<table align="center" border="0" width="90%">
  <tr>
    <td rowspan="2" style="background-color: #F5F5F5;"  width="20%" valign="top">
      <div class="shop-tab-menu">
        <h1 style="color: black;">Users</h1>
        <br><br>
        <div class="list-group">
          <%  users.each do |user| %>
            <%= link_to raw("<button class='list-group-item' type='button'><i class='fas fa-user' aria-hidden='true'> #{user.username}</i></button>"), user_path(:id => "#{user.id}")%>
            <br>
          <% end %>
        </div>
      </div>
    </td>
    <td style="background-color: #F5F5F5;">
      <%= render "user_information"%>
    </td>
  </tr>
  <tr>
    <td style="background-color: #F5F5F5;">
      <%= render "user_comment" %>
        <%= render "new_comment"%>
      </td>
    </tr>
  </table>
