<% if flash[:alert] %>
  <div class="alert alert-<%= flash[:alert_type]%>" role="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%=flash[:alert]%>
  </div>
<% end %>
<%= form_for product do |f| %>
<div style="width:50%; margin:0 auto; transform: translateY(10%);" class="thumbnail">
  <h1 style="color: blue;">
    New Product
  </h1>
  <div class="caption">
    <div class="row">
      <div class="col-xs-12 col-md-3">
      </div>
      <div class="col-xs-12 col-md-9">
        <p class=""><strong>Product Name:</strong> <%= f.text_field :product_name, placeholder: 'Product Name',:required => true %></p>
        <p class=""><strong>Price:</strong> <%= f.number_field :price, :class => 'text_field' , :step => 0.01, min:0.1, value: 0.1%></p>
        <p class=""><strong>Product quantity:</strong> <%= f.number_field :quantity, :class => 'text_field' , min:0, value: 1%></p>
        <p class=""><strong>Product Category:</strong> <%= f.collection_select(:category_id, category, :id, :name) %></p>
        <p class=""><strong>Image:</strong> <%= f.file_field :image%></p>
      </div>
      <div class="col-xs-12 col-md-4">
        </div>
      <div class="col-xs-12 col-md-4">
        <div class="actions">
          <%= f.hidden_field :sku, value:SecureRandom.uuid %>
          <%= f.hidden_field :status, value:'A' %>
          <%= f.submit "Submit", class: "btn btn-success btn-block"%>
        </div>
      </div>
    </div>
  </div>
<% end %>
