<%  product.each do |prod| %>
  <div class="item  col-xs-4 col-lg-4">
    <div class="thumbnail">
      <%if prod.image_attach?%>
        <%= image_tag prod.medium_image, :class => 'group list-group-image' %>
        <%else%>
        <%= image_tag("null_image.png", size:"100x100", :alt => "not image", :class => 'group list-group-image') %>
      <%end%>
      <div class="caption">
        <h4 class="group inner list-group-item-heading"><%= prod.product_name %>
          <span style="text-align:right;">
            <% if user_signed_in? %>
              <!-- You're using this too much, maybe put it in a helper. -->
              <% if !current_user.admin? %>
                <% if prod.like_user(prod,current_user.id).empty?%>
                  <!-- Don't use inline styles! -->
                  <%= link_to like_products_path(:id => prod), method: :post do %>
                    <i class="far fa-thumbs-up btn btn-primary"></i>
                  <% end %> 
                  <!-- This is the correct syntax to use. Much more clearer. -->
                <% else %>
                  <%= link_to '<button class="far fa-thumbs-down btn btn-primary" style="color:red;" type="button" ></button>'.html_safe, like_product_path(:id => prod), method: :delete %>
                <% end %>
              <% end %>
            <%end%>
          </span>
        </h4>
        <p class="group inner list-group-item-text">Category:
          <%= prod.category_name %></p>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <p class="lead"><%= number_to_currency prod.price %></p>
          </div>

          <div class="col-xs-12 col-md-6">
            <p class="lead"><%= prod.like_size %>
              likes</p>
          </div>
          <% if user_signed_in? %>
            <!-- I think you could've put this in a partial, since it is only relevant when the user is an admin -->
            <% if current_user.admin?%>
              <div class="col-xs-12 col-md-6">
                <%= link_to '<button class="btn btn-success btn-block" type="button">Edit</button>'.html_safe, edit_product_url(:id => prod.id ) %>
              </div>
              <div class="col-xs-12 col-md-6">
                <%= link_to '<button class="btn btn-danger btn-block" type="button">Delete</button>'.html_safe, product_path(:id => prod.id),data: { confirm: "Are you sure?" }, method: :delete%>
              </div>
            <%else%>
              <div class="col-xs-12 col-md-6">
                <a href="products/<%= prod.id %> " class="btn btn-success btn-block">Buy</a>
              </div>
            <%end%>
          <%else%>
            <div class="col-xs-12 col-md-6">
              <a href="products/<%= prod.id %> " class="btn btn-success btn-block">Buy</a>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
<% end %>
