<% if flash[:alert] %>
  <div class="alert alert-<%= flash[:alert_type]%>" role="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%=flash[:alert]%>
  </div>
<% end %>
<br>
<br>
<br>
<%= link_to '<button class="btn btn-primary" type="button">See all</button>'.html_safe, products_path %>
<%= link_to '<button class="btn btn-primary fas fa-chevron-up" type="button"> Sort by name</button>'.html_safe, products_path(request.query_parameters.merge(:sort => "product_name ASC")) %>
<%= link_to '<button class="btn btn-primary fas fa-chevron-down" type="button"> Sort by name</button>'.html_safe, products_path(request.query_parameters.merge(:sort => "product_name DESC")) %>
<%= link_to '<button class="btn btn-primary fas fa-chevron-down" type="button"> Sort by likes</button>'.html_safe, products_path(request.query_parameters.merge(:sort => "likes_count DESC")) %>
<%= link_to '<button class="btn btn-primary fas fa-chevron-up" type="button"> Sort by likes</button>'.html_safe, products_path(request.query_parameters.merge(:sort => "likes_count ASC")) %>
<div class="col-xs-12 col-md-8"></div>
<div class="col-xs-12 col-md-3">
  <%= form_tag(products_path, method: :get) do %>
  <% request.query_parameters.each do |key, value| %>
    <%= hidden_field_tag(key, value) %>
  <% end %>
  <%= text_field_tag :term, params[:term], class: "form-control" %>
</div>
<div class="actions">
  <%= submit_tag 'Search', name: nil %>
</div>
<% end %>
<br>
<br>
<table align="center" border="0" width="100%">
  <tr>
    <td style="background-color: #F5F5F5;" width="16%" valign="top">
<div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 shop-tab-menu">
<div class="list-group">
  <%  category.each do |cat| %>
    <%= link_to raw("<button class='list-group-item' type='button'><h4><i class='fa fa-chevron-right' aria-hidden='true'></i>#{cat.name}</h4></button>"), products_path(request.query_parameters.merge(:category => "#{cat.id}")) %>
    <br>
  <% end %>
</div>
</div>
</td>
<td style="background-color: #F5F5F5;" valign="top">
<div id="products" class="row list-group">
<%= render "products_list"%>
</div>
</td>
</tr>
</table>
<div class="apple_pagination">
<div class="page_info">
<%= page_entries_info product %>
</div>
<%= will_paginate product, :container => false%>
</div>
