<%= form_for @shopping_cart, :url => shopping_carts_path(@shopping_cart), :method => :post do |f| %>
<div style="width:50%; margin:0 auto; transform: translateY(20%);" class="thumbnail">
  <%if product.image_attach?%>
    <%= image_tag product.big_image, :class => 'group list-group-image' %>
  <%end%>
  <div class="caption">
    <h2 class="font-weight-bold group inner list-group-item-heading"><%= product.product_name %></h2>
    <h4 class="group inner list-group-item-text">SKU:
      <%= product.sku %></h4>
    <p class="group inner list-group-item-text">Category:
      <%= product.category_name %></p>
    <p class="group inner list-group-item-text">Rating: <%= product.rating %>  <i class="fas fa-star" style="color:yellow;"></i></p>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <p class="lead"><%= number_to_currency product.price %></p>
        <p class="lead" style="text-align: right;">
          <%=product.quantity%>
          products left
        </p>
      </div>
      <%if product.quantity > 0%>
        <div class="col-xs-12 col-md-2"></div>
        <div class="col-xs-12 col-md-3">
          <label>Quantity</label>
          <%= f.number_field :quantity, min:1, value: 1,class: "form-control", max: product.quantity%>
        </div>
        <div class="col-xs-12 col-md-2"></div>
        <div class="col-xs-12 col-md-4">
          <div class="actions">
            <%= f.hidden_field :product_id, value: product.id %>
            <%= f.hidden_field :price, value: product.price %>
            <%= submit_tag("Add to Car", class: "btn btn-success btn-block") %>
          </div>
        </div>
      <%else%>
        <div class="col-xs-12 col-md-6">
          <p class="font-weight-bold h4" style="color:blue;text-align: right;">Out of Stock!</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>
<br><br>
<table align="center" border="0" width="90%">
  <tr>
    <td style="background-color: #F5F5F5;"><%= render "list_comments"%></td>
  </tr>
  <tr>
    <td style="background-color: #F5F5F5;"><%= render "new_comment" %></td>
  </tr>
</table>
